*{
	box-sizing: border-box;

}
.bg{
	background-image: url(../img/lyft-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	position: relative;
	padding-top: 20px;
}

.logo{
	width: 30%;
}


.btns{
	width: 100%;
	position: absolute;
	bottom: 15px;
}

.btn1{
	border:1px solid #fff;
	color:#fff;
	background-color: transparent;
	border-radius: 5px;
}

.btn2{
	background: linear-gradient(to right, #9f18e2 9%,#d61555 59%);
	color:#fff;
	
	border-radius: 5px;
}


.next{
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

.nextt{
	background-color: #FF00BE;
	display: inline-block;
	width: 100%;
	padding:20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.h-34{
	height: 34px;
}

.m-1{
	margin-top: 1px;
	height: 35px;
}

span{
	color: #000;
	font-size: 20px;
}

.tlf{
	border-left: transparent;
}

.areaCode{
	border-right: transparent;
}

.linea {
  border: none;
  background-color: white;
  border-bottom: 2px solid #000 ;
  width: 5%;
}

input:focus{
   outline: none;
}
.resend{
	margin-top: 50px;
}

/*3*/
.two-fields {
     width: 100%;
}

.two-fields .input-group {
     width: 100%;
}

.two-fields input {
     width: 50% !important;
}

.checkbox{
	margin-top: 30px;
}

.nameMail{
	background-color: transparent;
}