*{
	box-sizing: border-box;

}

/*index*/

.pd-0{
	padding: 0;
}

.bg{
	background-image: url(../img/lyft-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	position: relative;
	padding-top: 20px;
}

.logo{
	width: 30%;
}


.btns{
	width: 100%;
	position: absolute;
	bottom: 15px;
}

.btn1{
	border:1px solid #fff;
	color:#fff;
	background-color: transparent;
	border-radius: 5px;
}

.btn2{
	background: linear-gradient(to right, #9f18e2 9%,#d61555 59%);
	color:#fff;
	border-radius: 5px;
}


/*sign up 1*/

.m-10{
	margin-top: 10px;
}


.h-34{
	height: 34px;
}

.m-1{
	margin-top: 1px;
	height: 35px;
}

.tlf{
	border-left: transparent;
}

.areaCode{
	border-right: transparent;
}

.bold{
	font-weight: bolder;
}

/*sign up 2*/

input:focus{
   outline: none;
}

.linea {
  border: none;
  background-color: white;
  border-bottom: 2px solid #000 ;
  width: 5%;
}

.resend{
	margin-top: 50px;
}

/*3*/
.two-fields {
     width: 100%;
}

.two-fields .input-group {
     width: 100%;
}

.two-fields input {
     width: 50% !important;
}

.checkbox{
	margin-top: 30px;
}

.nameMail{
	background-color: transparent;

}

/*map contact*//  

.setPu{
	background-color: #FF00BE;
	display: inline-block;
	width: 100%;
	padding:20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.logo-map{
	width: 15%;
	left: 42%;
	margin-top: 25px;
}

.todoMapa{
	height: 100vh;
	width: 100vw;
}

.z-index{
	z-index: 1;
	position: relative;
}

.absolutos{
	position: absolute;
}

.nextMap{
	bottom: 0;
	width: 100%;
	opacity: 0.5;
}


.gift{
	left: 90%;
	margin-top:7%;
	color:#FF00BE;
	font-size: 30px;
}

.user{
	left: 10px;
	margin-top:7%;
	color:#FF00BE;
	font-size: 30px;
}

/*contact*/

.lista{
	list-style: none;
}

.pic{
	width: 30%;
	border-radius: 100%;
}

.viewPro:hover{
	text-decoration: none;
}

.none{
	display: none;
}

.direccion{
	margin-bottom: 10px;
	height: 68px;
}

.sideList{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
	border-right: 1px solid pink;
	height: 100vh;
}

.todoOpaco{
	 background-color: rgba(0, 0, 7, 0.4);
}

.menu {
	z-index: 3;
	width: 60%;
	background-color:#fff;
}

/*perfil*/

.bg-proPic{
	background-color: #C4CCDF;
}

.proPic{
	width: 100vw;
}

.join{
	width:auto;
	background-color:#FF00BE;
	padding: 10px;
	border-radius:5px;
	color: black;
}

.lista1{
	margin-top: 20px;
}

.dnii{
	height: 50px;
}

.select{
	color: transparent;
}

/*reutilizables*/

.atraz{
	color: #000; 
	font-size: 20px;
}

.next{
	position: absolute;
	bottom: 0;
	width: 100%;	
}

.nextt{
	background-color: #FF00BE;
	display: inline-block;
	width: 100%;
	padding:20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.menuPerfil{
	color: #000;
}

.menuPerfil:hover{
	color:#FF00BE;
}

.viewPro{
	text-decoration: none;
	color: #000;
}

#dnii{
	font-weight: bold;
	font-size: 20px;
	height: 36px;
}

